*{box-sizing: border-box;}

body{
  margin: 0;
}

.container {
  min-height:100vh;
  display: grid;
  grid-template-rows:  100px 1fr 1fr 1fr 100;
  grid-template-areas: "header" "categories" "catalogue" "featured-product" "footer";
  }

.content{
  width: 100%;
  background-color:$light-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;

}

.tittle-section{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}



@media(min-width:$desktop-breackpoint) {
  .container {
  display: grid;
  grid-template-rows: 100px 1fr 100;
  grid-template-columns: 15% 20% 65%;
  grid-template-areas: "header header header" "categories catalogue featured-product" "footer footer footer";
}

.content{
  width: 100vw;
  background-color:$light-grey;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:flex-start;


}
}
