$main-tipography:'Roboto', sans-serif;
$second-tipography:'Open Sans', sans-serif;
$dark-grey:rgb(74,74,74);
$medium-grey:rgb(185,184,184);
$light-grey:rgb(240,240,240);
$white:rgb(255,255,255);
$desktop-breackpoint:1024px;
