* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0; }

.container {
  display: grid;
  grid-template-rows: 100px 1fr 1fr 1fr 100px;
  grid-template-columns: 100%;
  grid-template-areas: "header" "categories" "catalogue" "featured-product" "footer"; }

.content {
  width: 100vw;
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.tittle-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 20% 20% 60%;
    grid-template-areas: "header header header" "categories catalogue featured-product" "footer footer footer"; }

  .content {
    width: 100vw;
    background-color: #f0f0f0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }
h1
h2
h3
h4
h5
a {
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Open Sans", sans-serif; }

header {
  background-color: #4a4a4a;
  grid-area: header; }

.link-logo .logo {
  width: 150px;
  height: 100px;
  background-color: white;
  position: relative;
  margin: 0;
  padding-left: 40px;
  padding-right: 40px; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 800px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0; }

.btnOpenMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  width: 40px;
  height: 40px;
  margin-right: 100px;
  background-color: #4a4a4a; }

.hamburger {
  width: 40px;
  height: 40px;
  background-color: #4a4a4a;
  border: none; }

.menu-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  opacity: 1;
  width: 200px;
  margin-top: 0;
  background-color: #4a4a4a; }

.list-mobile {
  display: none;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: white; }

.open-menu-mobile {
  display: block; }

.menu-desktop {
  display: none; }

@media (min-width: 1024px) {
  .btnOpenMenu {
    display: none; }

  .menu-mobile {
    opacity: 0; }

  .menu-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-right: 80px;
    list-style: none; }

  .list-descktop {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding-left: 80px;
    padding-right: 80px; } }
footer {
  background-color: #4a4a4a;
  grid-area: footer; }

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); } }
.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  -webkit-animation-duration: 1s;
          animation-duration: 1s; }

.catalogue-container {
  background-color: #f0f0f0;
  grid-area: catalogue; }

.categories-container {
  background-color: #f0f0f0;
  grid-area: categories;
  margin-left: 10px;
  margin-right: 10px; }

.categories-list {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4a4a4a; }

.subcaegories-list {
  background-color: #b9b8b8; }

.item-categories {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px; }

@media (min-width: 1024px) {
  .categories-list {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px; }

  .subcaegories-list {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px; } }
.featured-product-container {
  background-color: #f0f0f0;
  grid-area: featured-product; }

.hidden {
  display: none; }

.list-descktop:hover {
  color: #e62633; }

.none {
  list-style: none; }

.pading-list {
  padding-top: 20px;
  padding-bottom: 20px; }

/*# sourceMappingURL=index.css.map */