footer{
  background-color:$dark-grey;
  grid-area:footer;
}

.tittle-footer{
  padding:0;
  color: $white;
}


.footernav {
  width: 100%;
  display: flex;
  background-color: $dark-grey;
}


.list-footer{
  font-family: $main-tipography;
  text-decoration: none;
  color: $white;
  font-size: 18px;
  margin-top: 0px;

}

.mainfooter{
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position:relative;
}
.subfooter {
  padding: 0;
  margin: 0;
}

.mainfooter a{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: $dark-grey;
  text-decoration: none;
  padding: 10px;
  color: $white;
}

.mainfooter a:hover {
  color:rgb(230,38,51);
}

.mainfooter li.open-subfooter:hover .subfooter {
 display: block;
 max-height: 250px;
}

.subfooter a{
  background-color: $dark-grey;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subfooter a:hover {
  color:rgb(230,38,51);
}

.subfooter {
  overflow: hidden;
  max-height: 0;
-webkit-transition: all 0.5s ease-out;
}


@media(min-width:$desktop-breackpoint) {
}
